@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.range {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.range__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.range__header-desc, .range__header-value {
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
}
.range__header-desc {
  width: 75%;
}
.range__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  margin-top: 20px;
}
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: #42A9ED;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #286690;
}
.range__input::-moz-range-thumb {
  width: 21px;
  height: 21px;
  background: #42A9ED;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #286690;
}
@media (max-width: 767px) {
  .range {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}

.header {
  background-color: rgba(16, 16, 29, 0.9);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.header__burger {
  display: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.header__nav-link {
  font-weight: 600;
  line-height: 43px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}
.header__nav-link:hover {
  color: #43ABF0;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: #FFF;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3 ease 0s;
    transition: all 0.3 ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__nav {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 29, 0.9);
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__nav-item:hover {
    background-color: rgb(16, 16, 29);
  }
  .header__nav.active {
    left: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

.form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
  gap: 40px;
}
.form__input {
  padding: 12px;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
.form__input:focus {
  outline: 0;
}
.form__btn {
  position: relative;
  left: 52%;
  margin-top: 30px;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  max-width: 370px;
  -webkit-transform: translate(-53%, 0);
          transform: translate(-53%, 0);
  font-size: 15px;
}
@media (max-width: 767px) {
  .form {
    gap: 30px;
  }
  .form__btn {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    left: 0;
    max-width: 100%;
    margin-top: 10px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.mugs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}
.mugs::before {
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  width: 84%;
  height: 6px;
  color: #FFF;
  position: absolute;
  font-size: 45px;
  left: 13%;
  letter-spacing: 5px;
  top: 8%;
}
.mugs__item {
  text-align: center;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
}
.mugs__item-head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #286690;
  background: #3E9CDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mugs__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 1230px) {
  .mugs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mugs::before {
    display: none;
  }
  .mugs__item-head {
    width: 75px;
    height: 75px;
  }
}

.form-select {
  cursor: pointer;
  position: relative;
}
.form-select__header {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form-select__header span {
  margin-left: 10px;
}
.form-select__header, .form-select__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.form-select__header, .form-select__body {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 12px 0;
  width: 100%;
}
.form-select__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}
.form-select__body {
  display: none;
  position: absolute;
  max-height: 180px;
  overflow: scroll;
  scrollbar-color: #3E9CDC #3D4050;
  scrollbar-width: thin;
}
.form-select__item {
  padding: 10px;
  width: 91%;
}
.form-select_focus .form-select__body, .form-select_focus .form-select__header {
  border: 1px solid #3D4050;
  color: #FFFFFF;
}
.form-select_focus .form-select__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 44%;
}
.form-select_focus .form-select__arrow path {
  fill: #FFF;
}
.form-select_focus .form-select__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-select_focus .form-select__item:hover {
  color: #42A9ED;
}
.form-select_focus .form-select__body {
  display: block;
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
  background: #3D4050;
  z-index: 1;
}
.form-select_focus .form-select__header {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  background: rgba(61, 64, 80, 0.85);
}

.form-file__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}
.form-file__input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
}
.form-file__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  gap: 10px;
}
.form-file__button:hover .form-file__text {
  color: #FFF;
}
.form-file__button:hover .form-file__icon path {
  fill: #FFF;
}
.form-file__text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.wallet {
  border-left: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
  padding: 0 40px;
}
.wallet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.wallet__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wallet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.wallet__text {
  color: #fff;
}
@media (max-width: 1100px) {
  .wallet {
    border: 0;
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    padding: 10px 0;
  }
  .wallet__list {
    gap: 20px;
  }
}
@media (max-width: 400px) {
  .wallet__text {
    font-size: 11px;
  }
  .wallet__list {
    gap: 10px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__text {
  color: #FFF;
}
.social__text:hover {
  color: #3E9CDC;
}
@media (max-width: 400px) {
  .social__text {
    font-size: 12px;
  }
}

.footer {
  background: #3D4050;
  padding: 20px 0;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  color: #FFF;
}
@media (max-width: 999px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .footer__text {
    font-size: 13px;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400px;
  height: 100%;
}

a, li {
  text-decoration: none;
  list-style: none;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.services {
  position: relative;
  padding: 203px 0 203px 0;
}
.services::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -100;
}
.services::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/image/background.png);
  background-size: cover;
  background-position: 70%;
  left: 0;
  top: 0;
  z-index: -10;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.project-head {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.project-head span {
  color: #3E9CDC;
}

.project-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.project-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.project-text {
  margin-top: 5px;
}

.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.btn {
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
  border-radius: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 31px;
  color: #2A2B30;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn:hover {
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFF;
}

.button-first, .button-second {
  width: 183px;
}

.content {
  position: relative;
  padding: 150px 0;
}
.content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -100;
}
.content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/image/background_content.png);
  background-size: cover;
  background-position: 50%;
  left: 0;
  top: 0;
  z-index: -10;
  background-color: rgb(39, 39, 51);
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
.order-title span {
  color: #3E9CDC;
}
.order-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BBBBBB;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 1000px) {
  .content {
    padding: 75px 0;
  }
}
@media (max-width: 767px) {
  .content {
    padding-top: 100px;
  }
}
@media (max-width: 600px) {
  .services {
    padding: 105px 0 25px 0;
  }
  .project-head {
    font-size: 32px;
  }
}
@media (max-width: 481px) {
  .project-desc {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 321px) {
  .project-desc {
    color: #FFF;
  }
  .project-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}