.footer {
    background: #3D4050;
    padding: 20px 0;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        color: #FFF;
    }
    @media (max-width: 999px) {
        &__row {
            flex-direction: column;
            gap: 15px;
        }
    }
    @media (max-width: 400px) {
        &__text {
            font-size: 13px;
        }
    }
    
}