.form-file {
    &__wrapper {
        width: 100%;
        position: relative;
        text-align: center;
    }
    &__input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 3px;
        gap: 10px;
    }
    &__button:hover &__text {
        color: #FFF;
    }
    &__button:hover &__icon path {
        fill: #FFF;
    }
    &__text {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
}